.ql-container {
    height: 150px !important;
    overflow-y: auto;
}

.ant-upload-wrapper {
    display: flex!important;
    gap: 10px;
    align-items: center;
}

.ant-upload-list .ant-upload-list-item {
    margin-top: 0!important;
}
