// Color palettes:

$gold: #F3EA5F;
$dark-gold: #CD9733;
$brown: #5a4a3a;
$dark-blue: #181F3E;
$blue: #92D4E7;
$light-blue: #e4f6f8;
$red: #E87C72;
$purple: #E72ED7;
$black: black;

$sand: #f7eee8;
$sand2: #f2eef3;
$white: $sand;

$md-bp: 560px; // Medium break point, for responsive design
$lg-bp: 1000px;
$lg-bp2: 1220px;
$lg-bp3: 1060px;

$black-overwrite: white;
$white-overwrite: black;

.outline {
  -webkit-text-fill-color: $black-overwrite; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: $white-overwrite;
}
