body.light {
  --background-color: white;
  --offset-background: lightgray;
  --text-primary: black;
  --text-secondary: #222;
}

body.dark {
  --background-color:  black;
  --offset-background: rgb(35, 35, 35);
  --text-secondary: #eee;
  --text-primary: white;
}

$theme-transition-length: 0.5s;

@mixin use-theme-transition($properties...) {
  transition-duration: $theme-transition-length;
  transition-timing-function: ease-out;
  transition-property: $properties;
}

@mixin use-theme-primary {
  background-color: var(--background-color);
  color: var(--text-primary);
  @include use-theme-transition(background-color, color);
}

@mixin use-theme-secondary {
  background-color: var(--offset-background);
  color: var(--text-secondary);
  transition-property: background-color, color;
  @include use-theme-transition(background-color, color);
}
