.topMenu li:first-child {
    font-weight: bold;
}

.topMenu li:not(:first-child) {
    padding: 0 20px;
}

.topMenu li {
    width: 200px;
    text-align: center;
}

.footer {
    padding: 24px;
}

.footer svg {
    margin-right: 15px;
}

.sidebarWidth {
    width: 200px;
}