@import './responsive.scss';
@import './theme';

$md-bp: 560px; // Medium break point, for responsive design
$lg-bp: 1000px;
$lg-bp2: 1220px;
$lg-bp3: 1060px;


// Scrollbar

::-webkit-scrollbar {
	width: 1rem;
}

::-webkit-scrollbar-thumb {
	border: 0px solid #35c982;
	background: #424b50;
	-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-track {
	background: #0e171d;
	-webkit-box-shadow: inset 0 0 5px #12171c;
	box-shadow: inset 0 0 5px #12171c;
}
