@import "../colors.scss";

@mixin underline($color: linear-gradient(to top left, color("primary"), color("secondary"))) {
    @include display-not(mobile) {
        &:after {
            content: "";
            display: block;
            height: 2px;
            margin-left: 50%;
            transition: width 0.3s ease 0s, padding-right 0.3s ease 0s, margin-left 0.3s ease 0s, opacity 0.2s ease 0s;
            width: 0;
            bottom: 0;
            opacity: 0;
            padding-right: 0px;
            //background: none repeat scroll 0 0 transparent;
            background: $color;
            margin-top: 5px;
            border-radius: 5vh;
        }
        &:hover:after {
            width: 100%;
            padding-right: 20px;
            margin-left: -10px;
            opacity: 1;
        }
    }
}

.underline {
    @include underline;
}
