@import './colors.scss';


@mixin bg-primary {
    background-color: color('bg-primary');
    color: color('text-primary');
}

@mixin bg-secondary {
    background-color: color('bg-secondary');
    color: color('text-secondary'),
}

@mixin bg-flashy {
    background-image: linear-gradient(to top left, color('primary'), color('secondary'));
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: "cover";
    color: color('text-primary');
}
